.list-product{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    padding: 15px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: #ffffff;
}
.listproduct-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-filterproducts{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 220px;
}
/* .listproduct-card{
    width: 100%;
    height: 100px;
    background-color: red;

} */
.listproduct-format{
    display: flex;
    width: 100%;
}
.productlist-detail{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    width: 50%;
    gap: 5px;
}


.productlist-image{
    width: 220px;
    height: 160px;
}
.btn-deleteproduct{
    float: right;
}