
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    margin-bottom: 1px;
    box-shadow: 0 1px 3px -2px black;
    background: #ffffff;
}

.nav-logo{
    width: 148px;
    height: 78px;
}
.nav-profile{
    width: 68px;
    height: 68px;
}

@media (max-width: 800px) {
    .navbar{
        padding: 5px 10px;
    }
}